doctype html
html
    head
        title Webhook Maps GFWA
        link(rel='stylesheet', href='/stylesheets/main.css')
    body
        h1 Webhook Maps

        table
            thead
                tr
                    th Name
                    th Description
                    th
            tbody
                each item in items
                    tr
                        //td #{item.receiver}
                        //td #{item.webhook}
                        //td
                        //    form(action=`/delete`, method='POST')
                        //        input(type='hidden', name='receiver', value=item.receiver)
                        //        input(type='hidden', name='webhook', value=item.webhook)
                        //        button(type='submit') Delete
                        //    form(action=`/update`, method='GET')
                        //        button(type='submit') Edit
                        //form
                        td #{item.receiver}
                            //input(type='hidden', name='receiver', value=item.receiver)
                        td #{item.webhook}
                            //input(name='webhook', value=item.webhook)
                        td
                            //form(action=`/update`, method='POST')
                            //    button(type='submit') Edit
                            form(action=`/delete`, method='POST')
                                input(type='hidden', name='receiver', value=item.receiver)
                                input(type='hidden', name='webhook', value=item.webhook)
                                button(type='submit') Delete

        h2 Add Item

        form(action='/add', method='POST')
            div
                label Receiver:
                input(type='text', name='receiver', required)
            div
                label Webhook:
                input(type='text', name='webhook', required)
            button(type='submit') Add Map